/mvnw text eol=lf
*.cmd text eol=crlf
# Set default behavior for all files
* text=auto

# Explicitly declare text files you want to always have LF endings
*.java text eol=lf
*.properties text eol=lf
*.xml text eol=lf

# Binary files
*.png binary
*.jpg binary
